# Compiled class files
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual folders and OS files
.DS_Store
Thumbs.db

# IDE configurations
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
bin/
out/
